<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanthus.springpractice.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="com.fanthus.springpractice.model.po.Student">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>


    <!--    id 和返回类型，就是封装到什么地方-->
    <select id="queryStudents" resultType="com.fanthus.springpractice.model.po.Student">
      select * from Student;
    </select>

</mapper>